/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;

  background-color: #fcfeff;
}
@media only screen and (min-width: 1150px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #93a748;
  text-decoration: none;
}

p{
  text-align: justify;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  position: relative;
  height: 100%;
  background-color: #000000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  
}
.cd-header .h1 {

  width: 80%;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  color: #f3f3f3;
text-align: right;
  font-size: calc(1em + 1vw + 1vh);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 40%;


  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);




}
.cd-header .h1 h1,
.cd-header .h1 .h1_generalpico {
  opacity: 0;
  animation: mainFadeIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 1s;
  border-right: calc(1px + 0.2vw) solid white;
  padding-right: 1vw;
  
}
.cd-header .h1 .title .block {
  width: 0%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;

  z-index: 1;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}



@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.cd-header .h1_generalpico {
  display: block;
  content: "General Pico";
  font-family: 'Raleway';
  font-size: calc(0.2em + 1vw + 1vh);
  font-weight: 400;
}

.cd-fixed-background {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cd-fixed-background h2, .cd-fixed-background p {
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #0f594d;
}
.cd-fixed-background .cd-content::after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}

.cd-fixed-background.img-1 {
  background-image: url("../img/fondo0.jpg");
}
.cd-fixed-background.img-0 {
  background-image: url("../img/fondoIntro.png");
}




.grid-primera-item2{

  min-width: 300px;
  border-left: solid 5px black;
  padding: 1em;
  background-color:rgba(114, 114, 114, 0.15);


  min-height: 250px;


}



@media only screen and (min-width: 1150px) {
  .grid-primera{
    width: 90%;
    height: 90%;
    margin-left:auto;
    margin-right:auto;
  }

  .cd-fixed-background {

    padding: 0;
  }
  .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .cd-fixed-background .cd-content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-fixed-background .cd-content::after {
    display: none !important;
  }
  .cd-fixed-background.img-1 {
    background-image: url("../img/fondo0.jpg");
  }
  .cd-fixed-background.img-0 {
    background-image: url("../img/fondoIntro.png");
  }
  

  .cd-fixed-background.img-2 {
    background-image: url("../img/fondo5.png");
  }
  .cd-fixed-background.img-3 {
    background-image: url("../img/fondo1.png");
  }
  .cd-fixed-background.img-4 {
    background-image: url("../img/fondo2.png");
  }
  .cd-fixed-background.img-5 {
    background-image: url("../img/fondo3.png");
  }
  .cd-fixed-background.img-6 {
    background-image: url("../img/fondo4.png");
  }
  .cd-fixed-background.img-7 {
    background-image: url("../img/fondo6.png");
  }


}

/*Efecto de transicion de imagenes (no borrar) */
@media only screen and (min-width: 1150px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }
  /*
  .cd-fixed-background .cd-content {
    width: 40%;
    left: 10%;
  } */
}

.cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  filter:invert(1);
  mix-blend-mode: difference;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(../img/cd-icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

/*tamaño minimo para las flechas de navegacion - cambiar para mostrar */
@media only screen and (min-width: 1150px) {
  .cd-vertical-nav {
    display: none;
  }

  }




.no-js .cd-vertical-nav {
  display: none;
}

.contenedor-centrado{
  margin-right: auto;
}

/* css del video */
.contenedor-video{
  overflow: hidden;
  width:auto;
  height: 100%;

}



/* Franja de color negro para la slide del video */
.cajitatrans {


  position: absolute;
  top: 35%;

  background: rgba(105, 190, 190, 0.7);
  color: #f1f1f1;
  padding: 3%;
  overflow: hidden;


  left: 0%;
  right: 0%;

}
.logo_muni{
align-content: center;

position:relative;
top: 50%;


left: 80.5%;


}

.logo_muni{
opacity: 0;
animation: mainFadeIn 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
animation-delay: 2s;
}




/*tamaño de todos los chart */
.tamaño-grafico{
  height: 200px;
  width: auto;
}

/* Titulo que va arriba de los chart*/
.titulografico{
  font-size: medium;
  text-align: auto;
  justify-items: auto;
  align-items: auto;
  font-weight: 700;
  font-size: x-large;
}

.cd-fixed-background.img-cierre{
  position: relative;
  height: 100%;
  background-color: #fefcfe;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;}

  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: rgba(105, 190, 190, 1);
    width: 0%;
  }
  /* Style the navbar */
  #navbar {
    overflow: hidden;
    background-color: #373737;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #EAEEE2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  /* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.customizacion-navbar{
  font-family: 'Titillium Web', sans-serif;
  height: 35px;
}

.elementos-navbar-custom{
  padding: 5px;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

html {
  scroll-behavior: smooth;
}




.contenedor-centrado{
  margin-right: auto;
  margin-left: auto;
}

img.zoom {
  width:50px;
  height:50px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}
.transition {
  -webkit-transform: scale(1.4); 
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}

.grid-introduccion{
  display:grid;
  grid-template-columns: 100% ;
  padding: 1em;
}

.grid-ultima{
  display:grid;
grid-template-columns: 100% ;
gap:0,5em;
justify-content: center;
}

.grid-centrado{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align : justify;
}

.grid-mapa{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
max-width: 500px;
height: 100%;




}
.info{
  font-size: 20px;
  color: #000000;
  text-align: left;
}

.cd-fixed-background p {
  font-size: calc(9px + 0.3vw + 0.3vh);
  line-height: 1.8;
  font-family: 'Raleway', sans-serif ;
  color: #000000 ;
}

 
/* Color de fondo para cada slide*/
.cd-fixed-background.img-0 {
  background-color: #fcfeff;
}
.cd-fixed-background.img-1 {
  background-color: #EAEEE2;
}
.cd-fixed-background.img-2 {
  background-color: #fcfeff;
}
.cd-fixed-background.img-3 {
  background-color: #EAEEE2;
}
.cd-fixed-background.img-4 {
  background-color: #fcfeff;
}
.cd-fixed-background.img-5 {
  background-color: #EAEEE2;
}
.cd-fixed-background.img-6 {
  background-color: #fcfeff;
}
.cd-fixed-background.img-7 {
  background-color: #EAEEE2;
}




/* primera letra mayuscula en slide */
.first-letter {
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
}

/*decorador detras del texto de la intro */
.contenedor-texto-IntroCierre{
  border-left: solid 10px black;
  background-color:rgba(255, 255, 255, 0.7);
  padding: 1em;


    width: calc(750px + 5vw + 5vh) ;
    text-align: justify;
    max-width: 90%;
  
}

/*grid de la slide de intendencia */
.grid0{
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  padding-top: 5em;
  padding: 1em;
  gap:1em;
  width: 62%;
  height:100%;
  }

  .grid-item-a{
    border-left: solid 5px black;
    padding: 1em;
    grid-row: 1/ span 2;
}



.grid1 {
  display: grid;
  padding-top: 5em;
  padding: 1em;
  gap:1em;
  grid-template-columns: 50% 50%;


  height: 100%;
  width:62%;
  align-items: center;
  vertical-align: middle;





}

/*ACAMOD*/

.grid2 {
  display: grid;
  padding-top: 5em;
  padding: 1em;

gap: 1em;
  grid-template-columns: 50% 50%;

  height: 100%;
  width: 61%;

  border-left: 5px solid black;
  margin-left: 1em;

}

.grid2-item-a{
display: grid;
align-items: center;

}

.grid-primera{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 90%;
  height: 90%;
  align-items: center;
  text-align: center;
  
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;


}

.grid-primera-item{
  grid-column:1/4;
  border-top: solid 5px black;
  padding: 1em;
  width: 50%;
  justify-items: center;
  align-items: center;
  margin:auto;


 


}


.grid-primera{
  gap: 1em;
  padding-left: 1em;
}



@media only screen and (max-width: 1150px) {
  .grid-primera{
    margin: 0px;
  }
  
  .grid0{
    grid-template-columns: 50% 50%;
    width: 90%;
  }
  .grid1{
    width:95%;
  }
  .grid2{
    width:90%;
  }

  .grid-item-a{
      grid-column: 1/ 5;
      width: 90%;
    
  }
  .grid2-item-a{
 
    grid-column: 1/ span 2;  
    width: 95%;
  }
  .centrador{
    justify-items: center;

      grid-column: 1/4;
      
    }
    .grid-item{
      max-width: 500px;
    }

    .grid-primera{
      grid-template-columns: 50% 50%;
    }

    .grid-primera-item{
      grid-column:1;
      border-left: 5px solid black;
      border-top: 0px;
      padding: 1em;
      width: 100%;
      justify-items: center;
      align-items: center;
      margin:auto;
    
    
     
    
    
    }


}





.grid-item{
  border-left: solid 5px black;
  padding: 1em;
  background-color:rgba(114, 114, 114, 0.15);
  height: 300px;

  min-width: 300px;
  
 




}
.grid-item-a{
  border-left: solid 5px black;
  padding: 1em;

  min-height: 300px;
  min-width: 300px;

}

.centrador{
  display: grid;
  align-items: center;
}






.uno3{
  grid-column: 1/3;
  border-left: solid 5px black;
  padding-left: 1em;
  align-items: center;
  min-height: 300px;
  min-width: 300px;

}


.grid2-uno3{
  grid-column: 1/span 2;

  min-height: 300px;
  min-width: 300px;

}





  /*letra slides*/



.cd-fixed-background h2{
  font-size: calc(20px + 0.4vw 0.4vh);
  font-weight: 600;
  line-height: 1.8;
  font-family: 'Titillium Web', sans-serif !important;
  color: #000000 !important;

}

.esconder{
  font-size:0;


}
.esconderbr{
  display: none;
}

.noesconder{
  font-size: calc(30px + 0.4vw + 0.4vh);
  font-weight: 700;
  line-height: 1.8;
  font-family: 'Titillium Web', sans-serif !important;
  color: #000000 !important;
  text-align: end;
  background-color:rgba(114, 114, 114, 0.15);

  border-right:solid 5px black;

 width: 90%;



 padding-right: 1em;


}
table {
  font-family: raleway;
  border-collapse: collapse;
  width: 50%;
  height: 50%;
  border-right: 2px solid black;

}

.tablepresupuesto {
  font-family: raleway;
  border-collapse: collapse;
  width: 90%;
  height: 90%;
  border-right: 2px solid black;
  font-size: calc(7px + 0.3vw + 0.3vh);

}

td, th {

  text-align: center;
  padding: calc(2px 10vw);
  font-size: calc(9px + 0.3vw + 0.3vh);
}
tr:nth-child(odd) {
  background-color:rgba(114, 114, 114, 0.15);
}
th{
  font-weight: 600;
}

@media only screen and (max-width: 1150px) {
  .esconder{
    font-size: calc(30px + 0.4vw + 0.4vh);
    font-weight: 700;
    line-height: 1.8;
    font-family: 'Titillium Web', sans-serif !important;
    color: #000000 !important;
    text-align: end;
    background-color:rgba(114, 114, 114, 0.15);

    border-right:solid 5px black;

   width: 90%;



   padding-right: 1em;


  }
  .esconderbr{
    display:inline;
  }
}


.img-intendenta{
  width: calc(140px + 5vw);
  background-color: rgba(255,255,255,0.7);
  padding:1em;
  border-top:solid 10px black;
}

/*
.tam-texto-IntroCierre{
  width: 50%;
}
*/




.texto-info-mapa{
  font-size: xx-large;font-weight: 600; width:100%; 
}

/*Mobile */
@media only screen and (max-width: 500px) {

  
.grid-primera-item2{
  margin:0%;


}

  table{
    width: 90%;
    height: 90%;
  }

  
  .grid-primera-item{

    margin:0%;
  }
 
 
  .button8 {
    font-size: 1.5rem;
  }
  
  td, th {

    font-size: 1.8rem;
}
  body{
    position: relative;
  }

  .img-estadistica-mobile{
    width:100%;
  }

  /*esto es para ocultar elementos que no queremos en mobile (en este caso la navbar) */
  .ocultar-en-mobile{
    display:none;
  }
  


  .grid0{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 90%;
  }
  .grid-primera{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: baseline;

    

  }
  .grid-primera-item2{

  min-height: 300px;
  
  }
  

  .grid-item-a{
    width:100%;
    grid-column: 1/4;
  }

  .grid-item{

    grid-column: 1/4;
  
      max-width: 90%;

  }
  .centrador{  
    justify-items: normal;
  }



  .grid1{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    width:90%;
  }

  .grid2{
    width: 90%;
  }

  .uno1{
    grid-column: 1/4;
  }

  .uno2{
    grid-column: 1/4;
  }




  .cd-fixed-background p {
    font-size: 1.5rem;
    line-height: 1.8;
  }

  .img-intendenta{
    width: 45%;
  }


  


  .cd-header .h1 .h1_generalpico {
    opacity: 0;
    animation: mainFadeIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 1s;
    

  }



  
  
  .tamaño-texto-inicioyfin{
    width: 95%;
  }

  .ubicacion-h1-introcierre{
    text-align: justify;
  }

  .tam-texto-IntroCierre{
    width: 95%;
  }

  .contenedor-texto-IntroCierre{
    width: 90%;text-align: justify;
  }

  .ancho-mobile{
    width: 90vh;
  }

  .mouse {
    display: none;
  }

}

/*tamaño intermedio */




/*
.grid-mapa2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
*/





.remarcado {
  background-color: rgba(105, 190, 190, 1);
  color: black;
}



.grilla{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  
}

.elemento{
  grid-column: 1/3;
}

.color-borde{
  border:solid 1px #000000;
}

a.button8{
  display:inline-block;
  padding:0.2em 1.45em;
  margin:0.1em;
  border:0.15em solid rgba(105, 190, 190, 0.7);
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Raleway';
  font-weight:700;
  color: white;
  background-color: rgba(105, 190, 190, 0.7);
  text-align:center;
  position:relative;
  }
  a.button8:hover{
  border-color:white;
  }
  a.button8:active{
  background-color:#999999;
  }
  @media all and (max-width:30em){
   a.button8{
  display:block;
  margin:0.2em auto;
  }
  }



  .logo_muni2 {
    visibility: hidden;
  }
  
  .mail{
    position: absolute;
    left: 90%;
    bottom: 10%;

  }


  @media only screen and (max-width: 700px) {
    .logo_muni2{
      visibility: visible;}
   
      .mail{
      position: absolute;
      left: 80%;
      bottom: 5%;
  
    }
  }
  .fadeInLogo {
    -webkit-animation: animat_show 1.5s;
    animation: animat_show 3s;
    visibility: visible !important;
  }
  
  @-webkit-keyframes animat_show {
    0% {
      opacity: 0
    }
  
    100% {
      opacity: 1
    }
  }
  
.titulo-IntroCierre{
  text-align: start;
  width: calc(750px + 5vw + 5vh);
  max-width: 90%;
}

.citas{
  font-weight: 700;

  font-family: 'Titillium Web' !important;
  text-align: left;

}
.citas2{
  font-size: calc(20px + 0.8vw);
    font-weight: 600;
    line-height: 1.8;
    font-family: 'Titillium Web', sans-serif !important;
    color: #000000 !important;
}



.mouse{
  position: absolute;
  bottom: 3rem;
  width: 1rem;
  margin-left: 50%;
  margin-right: 50%;
}

.mouse{
  opacity: 0;
  animation: mainFadeIn 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 3.2s;
}
.mouse-icon{
 width: 2vw;
 height: 3.5vw;
 border: 0.2vw solid white;
 border-radius: 10rem;
 cursor: pointer;
 position: relative;
 text-align: center;

}
.mouse-wheel{
height: 0.3vw;
margin: 10px auto 0;
display: block;
width: 0.3vw;
background-color: white;
border-radius: 100%;
animation: 1.5s ease infinite wheel-up-down;
}
@keyframes wheel-up-down {
0% {
margin-top: 7px;
opacity: 0;
}
30% {
opacity: 1;
}
100% {
margin-top: 1.5vw;
opacity: 0;
}
}


.grid-fotos{
  display:grid;
  align-items: stretch;

  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: 2fr;

  max-width: 1200px;
  border-top: 10px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  width: calc(200px + 10vw + 10vh);



  

  
}

.intendenta{


  grid-row:1/3;




  




  
}

.resto{
  overflow: hidden;
  margin-left: 0.5em;
}






.foto_intendenta, .foto_resto{ filter: grayscale(100%); 
  transition: filter .3s ease-in-out;
  height: auto;
  max-width: 100%;
  margin: auto;
  display: block;

}
.foto_intendenta:hover, .foto_resto:hover { filter: none;}

/* 
div.intendenta, div.resto {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

div.container {
  text-align: center;
  padding: 0.25em;
} */

/*fucking tooltip

.tip {
  color: #900;
  text-decoration: none;
  
 
}

.tip:hover {
  color: red;
  position: relative;

  
  

}

.tip[data]:hover:after {
  content: attr(data);
  top: 50%;

  
  color: rgba(0,0,0,1);


  




  font-family: 'Titillium Web', sans-serif;;
  font-weight: 700;
  white-space: nowrap;

  


  background: rgba(255, 255, 255, 0.5);
}
*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


}

.cd-fixed-background {

  padding: 0;
}



@media all and (min-height: 450px) and (min-width:400px) and (max-height:500px){
  .cd-fixed-background {
    height: 180vh;
    padding: 0;
  }
}

@media all and (min-height: 500px) and (min-width:400px) and (max-height:650px){
  .cd-fixed-background {
    height: 140vh;
    padding: 0;
  }
}



